*{
    font-family: sans-serif;
}
#Futur-1{
    text-align: center;
    background-color: #f82a4f;
    padding: 1em;
    margin: 1em 0.5em;
}
#Futur-2{
    text-align: center;
    background-color: #f82a4f;
    padding: 1em;
    margin: 1em 0.5em;
}
#Futur-3{
    text-align: center;
    background-color: #59f5f1;
    padding: 1em;
    margin: 1em 0.5em;
}
#Futur-4{
    text-align: center;
    background-color: #f82a4f;
    padding: 1em;
    margin: 1em 0.5em;
}
#Futur-5{
    text-align: center;
    background-color: #f82a4f;
    padding: 1em;
    margin: 1em 0.5em;
}
#Futur-6{
    text-align: center;
    background-color: #ffff06;
    padding: 1em;
    margin: 1em 0.5em;
}
#Futur-7{
    text-align: center;
    background-color: #f82a4f;
    padding: 1em;
    margin: 1em 0.5em;
}
#Futur-8{
    text-align: center;
    background-color: #f82a4f;
    padding: 1em;
    margin: 1em 0.5em;
}
#Futur-9{
    text-align: center;
    background-color: #f82a4f;
    padding: 1em;
    margin: 1em 0.5em;
}
#Futur-10{
    text-align: center;
    background-color: #f82a4f;
    padding: 1em;
    margin: 1em 0.5em;
}