body{
    background-image: url("../images/Festival-Background.jpeg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    margin-bottom: 10em;
    padding: 1.5em;
}
h1{
    font-size: 3.5em;
    padding: 0;
    margin: 0;
}
h2{
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
img{
    width: 65%;
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-family: sans-serif;
    border: 1px solid black;
    padding: 0.5em;
    margin: 0;
}
h4{
    display: none;
}
#info{
    text-align: center;
    position:static;
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-top: 10em;
    margin-bottom: 0em;
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#Ticket{ 
    grid-column: 1/3;
    grid-row: 2;
    margin: 0;
}
@media only screen and (min-width: 750px){
    body{
        border: 1px solid black;
        margin: 1em;
        margin-right: 0.5em;
        display: grid;
        grid-template-columns: repeat(2, 70% 30%);
        grid-template-rows: repeat(3, 80% 10% 10%);
        padding-bottom: 2em;
        background-position: center;
        background-size: cover;
        background-size: 100% 100%;
    }
	header{
        background-color: transparent;
        color: black;
        display: grid;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 0;
        padding: 0em;
    }
    h1{
        grid-row: 2; 
        font-size: 4.5em;

    }
    h2{
        font-size: 1em;
        grid-row: 1; 
        margin-top: 4em;
        padding: 0;
    }
    img{
        margin-top: 1.5em;
        margin-bottom: 0em;
        width: 75%;
        grid-column: 2/2;
        grid-row: 1/3;
    }
    #info{
        margin-top: 0;
        grid-column: 1/2;
        grid-row: 2;
        grid-template-columns: repeat(1, 1fr 1fr 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    #Ticket{ 
        grid-column: 3/3;
        grid-row: 1;
        margin: 0;
    }
    h4{
        margin: 0;
        margin-top: 0.7em;
        text-align: center;
        display: inline;
        grid-column: 1/2;
        grid-row: 3;
        padding: 1em;
        padding-bottom: 2em;
        border: 1px solid black;
    }
}
